extends layout

block content
    .content-container
        .bar-black-wide#top
        img(src='/images/logo-full-pink.png', class='logo-green')
        .statement Clog is my personal blog page designed by me, myself, and I.
        .bar-black-wide#bottom
