doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
        link(rel='stylesheet', href='/stylesheets/posts.css', type='text/css')
        link(rel='stylesheet', href='/stylesheets/me.css', type='text/css')
        link(rel='stylesheet', href='/stylesheets/projects.css', type='text/css')
        link(rel='stylesheet', href='/stylesheets/login.css', type='text/css')
        link(rel='stylesheet', href='/stylesheets/error.css', type='text/css')
        title Clog
    body
        .sidebar-container
            .sidebar-border
                .logo-container
                    a(href='/clog')
                        img(src='/images/logo-letter-pink.png', class='logo-pink')
                .nav-container
                    .bar-black
                    .nav-text-container
                        a.nav-text#posts(href='/posts') posts
                        a.nav-text#me(href='/me') me
                        a.nav-text#projects(href='/projects') projects
                        a.nav-text#git(href='http://www.github.com/notyalc') git
                    .bar-black#below-git
                .archive-wrapper
                    .archive-logo 
                        span.archive-logo-text The Past
                    .archive-container
                        ul
                            each val in archives
                                li
                                    a.archiveLink(href='/post/' + val)=val
        .page-main
            .content-wrapper
                block content
                
