extends layout

block content
    .content-container
        .bar-black-wide#top
        .text-container
            .name-intro Hi, my name is 
            .name Clayton Petty
            #period-black.
                .
            .message I am an aspiring programmer, guitarist, drummer, pianist, and Eagle Scout.  This Blog represents one of my first big programming projects.
        .bar-black-wide#bottom