extends layout

block content
    script(src='/javascript/jQuery.min.js')
    script(src='/javascript/client.js')
    .posts
        each val in posts
            .post-container
                .title=val.title
                .date=val.date
                //-.post-marker
                .post
                    !{val.post}