extends layout

block content
    .content-container
        .bar-black-wide#top
        .projects-notification As I do not yet have a long list of accomplishments and projects... I will simply refer you to my 
            a.no-dec(href='http://www.github.com/notyalc') github. 
        .projects-notification A more in depth page is soon to come
        .bar-black-wide#bottom