doctype 5
html
    head
        include ../public/stylesheets/test.css
        title Clogger
    body
        script(src='/javascript/jQuery.min.js')
        script(src='/javascript/client.js')
        .test
            a(href='google.com') Link
        a(href='google.com') Link SHouldnt Be CSSed 